body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

p > menu {
}

    p > menu:hover {
    }

.bg {
    position: fixed;
    top: 600px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #d8e2dc;
    z-index: -1;
}

.bg2 {
    position: fixed;
    top: 600px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #FFCAD4;
    z-index: -1;
}

p {
    font-family: 'Trebuchet MS', sans-serif;
    color: #696D7D;
}

a {
    text-decoration: none;
    color: #696D7D;
}

span {
    color: aliceblue;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: large;
    letter-spacing: 0.2em;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    letter-spacing: 0.2em;
    color: aliceblue;
}

.info_pic > span {
    padding-left: 20px;
    display: block;
}

a > span {
    padding-left: 20px;
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px
}

i {
    font-size: 40pt;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.header {
    display: flex;
}

.textport {
    font-size: 60pt;
}

.menu {
    padding: 0 30px 0 30px;
    text-align: center;
    border: #383838;
    border-width: 0 0 1px;
    font-size: 12pt;
}

ul {
    display: flex;
    height: 100%;
    list-style: none;
    list-style-image: none;
}

li {
    padding: 20px 3rem 20px;
}


.about_me {
    padding: 40px 0 0 40px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 50% auto;
    position: relative;
    background: #F3B7C1;
    border-radius: 38px 38px 0px 38px;
}

.text {
    position: relative;
    color: #484848;
    margin-bottom: 46px;
}

.info_pic {
    display: flex;
    left: 20px;
    flex-direction: row;
    align-items: center;
}

.mypic {
    text-align: right;
}

.mypic2 {
    margin-bottom: -4px;
}


.hobby {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 5px;
}

.subhead {
    font-size: 24pt;
}


.hobby_container {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
}

.h1_logo {
    width: 50%;
    height: auto;
    transition: transform .2s;
}

    .h1_logo:hover {
        transform: scale(1.5);
    }


.h2_logo {
    width: 60%;
    height: auto;
    transition: transform .2s;
}

    .h2_logo:hover {
        transform: scale(1.5);
    }

.h3_logo {
    width: 45%;
    height: auto;
    transition: transform .2s;
}

    .h3_logo:hover {
        transform: scale(1.5);
    }

.hobby_container > div#middle {
    border-right: 1px solid #adb1c1;
    border-left: 1px solid #adb1c1;
}


.skill {
    padding-bottom: 50px;
    margin: 0 5px;
}

.skill_container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}

.logo_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    background: #ffdaeb;
    border-radius: 20px;
    height: 125px;
    margin: 10px;
    border: 3px solid #e6e8eb;
}

.s_logo {
    margin-top: 20px;
    width: auto;
    height: 75px;
}

.logo_flex > div:last-child {
    padding: 3px;
    margin: -6px;
}

div > p.text_logo {
    font-weight: bold;
    font-size: large;
    letter-spacing: 0.1em;
}


.project_container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.project_box {
    margin-top: 100px;
    padding-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px -9px 28px 1px rgba(0, 0, 0, 0.13);
    border-radius: 26px;
    text-align: center;
}

.img_project {
    margin-top: 50px;
    width: 60%;
}

.p_info > p {
    font-size: 42pt;
    font-weight: 900;
    opacity: 0.7;
}

@media only screen and (max-width: 1015px) {
    .header {
        flex-wrap: wrap;
    }

    ul {
        padding-inline-start: 0;
    }

    .menu {
        padding: 0;
    }

    .about_me {
        padding: 16px 0 0 40px;
        margin-top: 0;
        grid-template-columns: auto;
    }

    .mypic {
        padding-left: 0;
        text-align: center;
    }

    .mypic2 {
        margin-bottom: -4px;
        margin-top: -40px;
    }


    .text {
        text-align: center;
    }

    .skill_container {
        margin-top: 30px;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
    }
}

@media only screen and (max-width: 520px) {
    li {
        padding: 16px 1em 20px;
        text-align: left;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    .textport {
        font-size: 40px;
    }

    span {
        letter-spacing: 0em;
    }

    .mypic2 {
        width: 300px;
        height: auto;
    }

    .about_me {
        padding-left: 20px;
    }

    h1 {
        font-size: 18pt;
    }

    .text {
        text-align: left;
    }
}

@media only screen and (max-width: 520px) {
    .mypic2 {
        width: 200px;
        height: auto;
    }
    span {
        font-size:11pt;
    }
    h1 {
        font-size: 14pt;
    }
    .bg2 {
        position: fixed;
        top: 395px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #FFCAD4;
        z-index: -1;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
